# Testing Report
Testing was conducted by running through the functionality of the program with various user inputs. The general usage is as follows:
* new task
  * enter task name
  * enter task type
  * enter deadline in format of yyyy-mm-dd hh:mm
    * or can enter "no deadline"
  * enter course code
    * can enter "none" if there is no course code
  * enter notes on the task
    * can enter "none" if there are no notes
* new course
  * enter course name
  * enter course code (must be a number)
  * enter course semester (format of "season" "year")
  * enter meeting times
    * can also enter "done"
* all tasks
  * **can view all entered tasks, no user interaction**
* all courses
  * **can view all entered courses, no user interaction**
* edit task
  * enter ID of task you want to edit
* edit course
  * enter ID of course you want to edit
* *can **quit** at any time*